/* 初始隐藏难度选择面板 */
.difficulty-board{
    display: none;
}

/* 按钮样式 */
.btnblue, .btngreen, .btnyellow, .btnorange, .btnred{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.btnblue   {background-color: #49e;}
.btngreen  {background-color: #4d4;}
.btnyellow {background-color: #dd1;}
.btnorange {background-color: #fa0;}
.btnred    {background-color: #f44;}
